#name{
    font-family:Impact, Charcoal, sans-serif;
}
.error{
    text-align:center;
    color:red;
}

.bg-dark{
  background-color:#3A3046 !important;
}

#searchBar{
  width:1300px;
}

/*Login css*/
#LoginLabel,#registerLabel, #ProfileLabel{
    text-align:center;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#btn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.avatar {
  width: 10%;
  border-radius: 5%;
}

.SignInForm {
  padding: 16px;
}

/*Register css*/
* {box-sizing: border-box}


.registerForm {
  padding: 16px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.registerbtn:hover {
  opacity:0.8;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.flex-item {
	width: 30%;
	height: auto;
	margin: 10px;
	border-color:black;
}

.flex-item > img {
	width: 100%;
}