<%- include('templates/header') -%>
        <div class="homeContainer">
            <nav class="navbar navbar-dark bg-dark justify-content-between">
              <a class="navbar-brand" href="/">
                  <img src="csumblogo.jpg" style ="float:left" width="50" height="50" class="d-inline-block align-top" alt="">
                  <h2 id="name">Thrifster</h2>
              </a>
              <form class="form-inline">
                <input id="searchBar" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" style="margin:5px;" type="submit"><strong>Search</strong></button>
                <a href="/signIn"><button id="btnSignIn" style="margin:5px;" type="button" class="btn btn-outline-info">Sign In</button></a>
                 <a href="/register"><button id="btnRegister" style="margin:5px;" type="button" class="btn btn-outline-info">Register</button></a>
              </form>
            </nav>
        </div>
<%- include('templates/footer') -%>