<%- include('templates/header') -%>
        <div class="container">
            <nav class="navbar navbar-light bg-light justify-content-between">
              <a class="navbar-brand" href="/">
              <img src="csumblogo.jpg" width="50" height="50" class="d-inline-block align-top" alt="">
              Thrifster
              </a>
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <button id="btnSignIn" type="submit" class="btn btn-outline-info">Sign In</button>
                <button id="btnRegister" type="submit" class="btn btn-outline-info">Register</button>
              </form>
            </nav>
        </div>
<%- include('templates/footer') -%>