<%- include('templates/header') -%>
        <div class="homeContainer">
            <nav class="navbar navbar-dark bg-dark justify-content-between">
              <a class="navbar-brand" href="/">
                  <h2 id="name">Thrifster</h2>
              </a>
              <form action="/searchResults">
                <input name="searchedItem" id="searchBar" class="form-control mr-sm-2" type="text" placeholder="Search either by tags, date, and price!" aria-label="Search" required>
                <button class='btn btn-outline-success my-2 my-sm-0' style="margin:5px;"><strong>Search</strong></button>
              </form>
                <a href="/signIn"><button id="btnSignIn" style="margin:5px;" type="button" class="btn btn-outline-info">Sign In</button></a>
                 <a href="/register"><button id="btnRegister" style="margin:5px;" type="button" class="btn btn-outline-info">Register</button></a>
            </nav>
        
        <div class=" w3-center w3-animate-bottom background">
          <div class="centered">
            <h1 class="welcome">Welcome to Thrifster! <br> Our goal is to give thriftstores and individuals who want to resell old goods a way to reach other people online!</h1>
            <a href="https://www.linkedin.com/in/denizeignacio/" class="fa fa-linkedin" target="_blank"><h2>More about Denize</h2></a>
            <a href="https://www.linkedin.com/in/julio-aguirre-504a2b178/" class="fa fa-linkedin" target="_blank"><h2>More about Julio</h2></a>
          </div>
        </div>
          
        
<%- include('templates/footer') -%>