<%- include('templates/header') -%>
        <div class="profileContainer">
            <nav class="navbar navbar-light bg-light justify-content-between">
              <a class="navbar-brand" href="/">
                  <img src="csumblogo.jpg" style ="float:left" width="50" height="50" class="d-inline-block align-top" alt="">
                  <h2 id="name">Thrifster</h2>
              </a>
              <form class="form-inline">
                <input id="searchBar" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" style="margin:5px;" type="submit">Search</button>
                 <a href="/"><button id="btnRegister" style="margin:5px;" type="button" class="btn btn-outline-danger">Log Out</button></a>
              </form>
            </nav>
        </div>
        <h2 id="ProfileLabel">Profile Info</h2>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 ">

                    <div class="panel panel-default">
                        <div class="panel-body">
               
                            <div class="box box-info">
                                <div class="clearfix"></div>
                                <hr style="margin:5px 0 5px 0;">
                                
                                <div class="col-sm-5 col-xs-6 tital" id="nameTag" >Name:</div><div class="col-sm-7 col-xs-6 "></div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                        
                            </div>
                        </div>
                    </div> 
                </div>
            </div>     
        </div>
<%- include('templates/footer') -%>