<%- include('templates/header') -%>
        <div class="profileContainer">
            <nav class="navbar navbar-dark bg-dark justify-content-between">
              <a class="navbar-brand" href="/">
                  <img src="csumblogo.jpg" style ="float:left" width="50" height="50" class="d-inline-block align-top" alt="">
                  <h2 id="name">Thrifster</h2>
              </a>
              <form class="form-inline">
                  <form action="/search">
                    <input id="searchBar" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" required>
                    <button class='btn btn-outline-success my-2 my-sm-0' style="margin:5px;"><strong>Search</strong></button>

                    <!--<a href="/search"><button id="btnSearch" style="margin:5px;" type="button" class="btn btn-outline-info"></strong>Search</strong></a>-->
                    <!--<button class="btn btn-outline-success my-2 my-sm-0" style="margin:5px;" type="submit"><strong>Search</strong></button>-->
                  </form>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <form action="/profile">
                        <button class="dropdown-item" type="submit">Profile</button>
                    </form>
                    <form action="/logout">
                        <button class="dropdown-item" type="submit">Log Out</button>
                    </form>
                  </div>
                </div>
              </form>
            </nav>
        </div>
        <div>
          <h5 style="text-align:center;">ITEMS: </h5>
          <ul>
            <% if(typeof data != 'undefined' && data) { %>
                    <img src='data:image/png;base64, <%=data%> '/>
            <% } %>
          </ul>
        </div>
<%- include('templates/footer') -%>