<%- include('templates/header') -%>
        <div class="signContainer">
            <nav class="navbar navbar-dark bg-dark justify-content-between">
              <a class="navbar-brand" href="/">
                  <img src="csumblogo.jpg" style ="float:left" width="50" height="50" class="d-inline-block align-top" alt="">
                  <h2 id="name">Thrifster</h2>
              </a>
              <form class="form-inline">
                <input id="searchBar" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" style="margin:5px;" type="submit"></strong>Search</strong></button>
                 <a href="/register"><button id="btnRegister" style="margin:5px;" type="button" class="btn btn-outline-info">Register</button></a>
              </form>
            </nav>
        </div>
        
        
        <div class="background">
        <div class="containerLogin">
          <div class="SignInForm">
               <form action="/signIn" method="post">
                <div class="imgcontainer">
                  <img src="profileAvatarLightBlue.svg" alt="Avatar" class="avatar">
                  <h2 id="LoginLabel">Sign-In</h2>
                </div>
                
                <div class="container">
                  <% if(typeof error != 'undefined' && error) { %>
                    <h3 style='color:red; text-align:center;'>Incorrect login credentials</h3>
                  <% } %>
                  <label for="uname"><b>Username</b></label>
                  <input class="roundedBorderInput" type="text" placeholder="Enter Username" name="username" required>
              
                  <label for="psw"><b>Password</b></label>
                  <input class="roundedBorderInput" type="password" placeholder="Enter Password" name="password" required>
                  <button class="btn btn-primary" id="btn" type="submit">Login</button>
                </div>
              </form> 
          </div>
        </div>
        </div>
<%- include('templates/footer') -%>